
    <!-- _includes/instructor.html -->
    <div class="grid-item">
      {% if project.redirect -%}
      <a href="{{ project.redirect }}">
      {%- else -%}
      <a href="{{ project.url | relative_url }}">
      {%- endif %}
        <div class="card-sm">
          {%- if project.img %}
            {%- include figure.liquid 
              path=project.img 
              alt="project thumbnail" -%}
          {%- endif %}
          <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <p class="card-text">{{ project.description }}</p>
            {% if project.OH -%}
              <p class="card-text">Office hours: {{ project.OH }}</p>
            {%- endif %}
          </div>
        </div>
      </a>
    </div>