---
layout: parse
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>




  <!-- Body -->
  <body class="{%- if site.navbar_fixed -%}fixed-top-nav{%- endif -%} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Content -->
    <div class="container mt-5">

      <header class="post-header">
        <h1 class="post-title"><strong><a href="{{ page.class_link }}">{{ page.title }}</a></strong></h1>
        <h2 class="post-semester"><strong>{{ page.semester }}</strong></p></h2>
        <ul>
          <li><strong>Time:</strong> {{ page.time }}</li>
          <li><strong>Place:</strong> {{ page.place }}</li>
          <li><strong>Zoom:</strong> {{ page.zoom }} </li>
        </ul>


      </header>
      
      {{ content }}
    </div>

  </body>

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}
  {% include scripts/mathjax.html %}
  {% include scripts/analytics.html %}
</html>
